.vendingMachine {
  &__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    border: 1px solid #ededed;
    transform: translate(-50%, -50%);
    background-color: tomato;
  }
  
  &__content {
    width: 182px;
    margin: 50px auto;
    overflow: hidden;
  }
  
  &__list {
  }
  
  &__item {
    float: left;
    width: 60px;
    height: 60px;
  }
  
  &__button {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    border: 1px solid white;
    outline: 0;
    
    &:active {
      background-color: royalblue;
      color: white;
    }
    
    &:disabled {
      background-color: lightgray;
    }
  }
  
  &__footer {
    width: 200px;
    margin: 0 auto;
    color: white;
  }
}
